* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
  }
  body{
    text-align: center;
        margin: auto;
        width: 961px;
    
  }

  .background{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: red;
    height: 200px;
    width: 100%;
    margin: 10 px;
    
  }
  
  .page {
    display: flex;
    flex-wrap: wrap;
    
  }

  .container{
      width: 961px;
      height: 500px;
      background-color: rgb(229, 226, 226);
      padding: 40px;
      text-align: left;
      font-size: 40px;
      color: black;
      -webkit-text-stroke-width: 2px;
   -webkit-text-stroke-color: rgb(85, 183, 228);
  }
  

  .logo{
      width: 961px;
      height: 100px;
      background-color: gray;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: white;
      font-size: 50px;
      padding: 20px;
      -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: #34b3a0;
  }
  a {
    color: white;
}

  .footer{
      width:961px;
      height: 75px;
      align-items: center;
      background-color: gray;
      text-align: center;
      padding: 20px;
      color: white;
      font-size: 30px;
  }
  

  /*Mobile Styles*/
  @media only screen and (max-width: 600px) {
    
}
/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 960px){
  
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    
}