* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .smimagesize{
    height: 40px;
    width: auto;
  }
  
  .section {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    background-color: white;
    height: 80px;
    color: #34b3a0;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }
  
  .header {
    background-color: darkgray;
    height: 45px;
  
  }
  
  .content {
    background-color: #EAEDF0;
    height: auto;
    align-self: auto;
    
  }
  
  .uploadpicture {
    background-color: gray;
    height: 65px;
  
  }
  
  
  
  .footer {
    background-color: lightgray;
  }
  
  .sociallinks {
    background-color: darkgray;
    height: 65px;
  }

  


.photo{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  /*background-color: red;*/
}


#displayPictures{


}
.singlePicture{
  height: 200px;
  width: 100%;
  margin: 10 px;
 
}
.photo{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  
}

input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
}

.submitbtn{
  border-radius: 3px;
    width: 100px;
    background: #34b3a0;
    height: 25px;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 0px;
 
}
 


.uploadform{
  display: inline;
}


  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    .uploadpicture {
      background-color: darkgray;
      height: 65px;
      width: 50%;
    }
    .footer {
      background-color:lightgray;
      height: 65px;
      width: 100%;
      color: white;
    }
    
    .sociallinks {
      background-color: darkgray;
      width: 50%;
    }
    

  
   
  }
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    .uploadpicture {
      background-color: darkgray;
      height: 65px;
      width: 50%;
    }
    .footer {
      background-color: lightgray;
      height: 65px;
      width: 100%;
      color: white;
    }
    
    .sociallinks {
      background-color: darkgray;
      width: 50%;
      height: 65px;
    }

  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .footer {
      background-color: lightgray;
      height: 65px;
      width: 100%;
      color: white;
    }
   
    .uploadpicture{
      background-color: darkgray;
      height: 65px;
      width: 50%;
    }
    
    .sociallinks{
      background-color:darkgray;
      width: 50%;
      height: 65px;
    }

  }


  