* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  .page {
    display: flex;
    flex-wrap: wrap;
  }
  
  .smimagesize{
    height: 40px;
    width: auto;
  }
  
  .section {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logo {
    background-color: white;
    height: 80px;
    color: #34b3a0;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
  }
  
  .header {
    background-color: darkgray;
    height: 45px;
  
  }
  
  .content {
    background-color: #EAEDF0;
    height: auto;
    align-self: auto;
    
  }
  
  .uploadpicture {
    background-color: gray;
    height: 65px;
  
  }
  
  
  
  .footer {
    background-color: lightgray;
  }
  
  .sociallinks {
    background-color: darkgray;
    height: 65px;
  }

  


.photo{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: red;
  height: 200px;
  width: 100%;
  margin: 10 px;
}


div#displayPictures {
  width: 100%;
  display: flex;
  padding: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

#displayPictures > div{
  flex-basis: 20%;
  margin: 20px 2.5%;
}

#displayPictures > div.singlePicturePhoto {
  flex-basis: 100%;
  text-align: center;
}

.user{
  flex-basis: 50%;
  text-align: center;
  color: green;
}
.logoutBtn{
 
  text-align: center;
}

#displayPictures > div.singlePictureCommentArea {
  flex-basis: 50%;
}

.singlePicturePhoto img {
  max-width: 100%;
  height: 300px;
}


.singlePictureCommentArea input[type=text] {
  border: 2px solid red;
  border-radius: 4px;
  padding: 10px;
    width: 100%;
    margin: 10px 0px;
}

.submitbtn, .combtn{
  border-radius: 3px;
    width: 100px;
    background: #34b3a0;
    height: 25px;
    text-align: center;
    line-height: 20px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    margin-bottom: 0px;
 
}

.singleComment {
  margin: 20px 0;
  border-bottom: 1px solid #aaa;
  padding-bottom: 10px;
}

span.commentEmail {
  color: #34b3a0;
  margin-right: 20px;
  font-size: 14px;
}
 

.fileUploadForm{
  margin-left: 10px;
}
.uploadform{
  display: inline;
}
.uploadpicture{
  font-size: 14px;
}

.sociallinks{  
  font-size: 14px;
}




  /* Mobile Styles */
  @media only screen and (max-width: 600px) {
    .uploadpicture {
      background-color: darkgray;
      height: 65px;
      width: 50%;
    }
    .footer {
      background-color:lightgray;
      height: 65px;
      width: 100%;
      color: white;
    }
    
    .sociallinks {
      background-color: darkgray;
      width: 50%;
    }
    div#displayPictures {
      flex-direction: column;
    }
    
   
  }

  
  /* Tablet Styles */
  @media only screen and (min-width: 601px) and (max-width: 960px) {
    .uploadpicture {
      background-color: darkgray;
      height: 65px;
      width: 50%;
    }
    .footer {
      background-color: lightgray;
      height: 65px;
      width: 100%;
      color: white;
    }
    
    .sociallinks {
      background-color: darkgray;
      width: 50%;
      height: 65px;
    }

  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    .page {
      width: 960px;
      margin: 0 auto;
    }
    .footer {
      background-color: lightgray;
      height: 65px;
      width: 100%;
      color: white;
    }
   
    .uploadpicture{
      background-color: darkgray;
      height: 65px;
      width: 50%;
    }
    
    .sociallinks{
      background-color:darkgray;
      width: 50%;
      height: 65px;
    }

  }


  